In [1]:
import pandas as pd

### Read census data from data directory

In [2]:
df = pd.read_csv('./data/census.csv')

### Have a look at the data

In [3]:
df.head(10)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### Get information about the dataframe's dtypes, missing values, column names

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Result: No missing values; some numerical and non-numerical data (columns); column names contain white spaces

### Remove white spaces from the column names

In [5]:
# column names before stripping white spaces
df.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [6]:
df.columns = [col.strip() for col in df.columns]

In [7]:
# column names after stripping white spaces
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

### Check if there are string data in the table containing white spacse and if yes, remove them.

In [8]:
df.select_dtypes(include = 'object').apply(lambda s: (s.str.startswith(' ') | s.str.endswith(' '))).any()

workclass         True
education         True
marital-status    True
occupation        True
relationship      True
race              True
sex               True
native-country    True
salary            True
dtype: bool

Result: There are leading and trailing white spaces in every column containing string values.

In [9]:
# Remove white spaces
df[df.select_dtypes(include='object').columns] = df.select_dtypes(include = 'object').apply(lambda s: s.str.strip())

In [10]:
# Check result
df.select_dtypes(include = 'object').apply(lambda s: (s.str.startswith(' ') | s.str.endswith(' '))).any()

workclass         False
education         False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
native-country    False
salary            False
dtype: bool

### Store cleaned data

In [11]:
df.to_csv('./data/census_cleaned.csv')